<a href="https://colab.research.google.com/github/sthanikan2000/CS3121-Project/blob/main/DS_Proj_salary_preprocess.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("salary.csv")

In [3]:
df.shape

(9035, 109)

In [4]:
df.drop_duplicates(inplace=True)
df.shape

(9035, 109)

In [5]:
df.isnull().sum()

Employee_No                 0
year                        0
month                       0
SiteNo                     45
Area                        0
                           ..
WSL Total Earning           0
WSL Total Working Days      0
WSLOther Allowance Rate     0
Working Days - Full         0
Working Days - Half Day     0
Length: 109, dtype: int64

In [6]:
mask1=df["Total Earnings_2"]!=0
mask2=df["Total Earnings_0"]!=0

In [7]:
df[ mask1 & mask2]

Empty DataFrame
Columns: [Employee_No, year, month, SiteNo, Area, Accomadation Allowance, Accommodation Allowance, Add. Allow. No Pay Deduction, Additional Allowance_0, Additional Allowance_2, Allow - Extra Working Hours, Attendance Allowance Rate, Attendance Allowance_0, Attendance Allowance_2, BRA1, BRA1 Amount, BRA1WSL, BRA2, BRA2 Amount, BRA2WSL, Basic Day Rate, Basic Rate for EPF, Basic Rate_2, Basic Rate_3, Basic Salary for EPF, Basic Salary_0, Basic Salary_2, Basic per Day, EPF Employee 8%, EPF Employer 12%, EPF Staff No Pay Full Day, EPF Staff No Pay Half Day, EPF staff Halfdays, EPF staff full workdays, ETF Employer 3%, Ex Work Hours Allownace, Fixed Amount, Fixed OT Entitlement, Fixed OT Hours, Hard Ship Allowance Rate, Hard Ship Allowance_0, Hard Ship Allowance_2, Hard ship Allowance Rate, Leave Leave Full Day, Leave Leave Halfday, Lieu Leave, Meal Allowance, Month Day Count, Net Salary, No Pay, No Pay Days, No Pay Deduction, No Pay Rate, No of Full Worked Days, No of Half Days, OT (Type = 2), OT Amount 1.5_0, OT Amount 1.5_2, OT Hours, OT Rate, OT Rate 1.5, OT Rate 2, Other Allowance, Other Allowance Amount, Other Allowance Rate, Other Deduction, Payee Month, Per Day Rate Total, Performance Allowance, Performance Allowance Rate, Performance Allownace Fixed, Salary Advance, Salary Arrears_0, Salary Arrears_2, Site Fixed Allowance, Special Allowance, Special Task Allowance, Stamp Duty, Telephone Allowance, Telephone Deduction, Total Cost to the Company, Total Deduction, Total Earnings_0, Total Earnings_2, Total Fixed, Total V.Allowance, Total Working Days, Travelling Allowance, V. ALLW -Site, V. ALLW Rate -Site, V. Allow - Drivers Travel, V. Allow - Operator, V. Allowance Attendance, Vehicle Allownace, WSL Advance, WSL Basic, WSL Basic Salary, WSL Day Rate, WSL Net Salary, WSL No of Full Worked Days, ...]
Index: []

[0 rows x 109 columns]

In [8]:
df["Earnings"]=df["Total Earnings_2"]+df["Total Earnings_0"]
df=df[["Employee_No","Earnings","Total Fixed"]].copy()

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9035 entries, 0 to 9034
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Employee_No  9035 non-null   int64
 1   Earnings     9035 non-null   float64
 2   Total Fixed  9035 non-null   float64
dtypes: float64(2), int64(1)
memory usage: 282.3 KB

In [10]:
grouped=df.groupby(['Employee_No']).mean()

In [11]:
grouped.to_csv("salary_preprocessed_200635E.csv",index=True)