<a href="https://colab.research.google.com/github/sthanikan2000/CS3121-Project/blob/main/DS_Proj_attendance_preprocess.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# Read the CSV file into a DataFrame
df = pd.read_csv('attendance.csv')
df.shape

<ipython-input-2-8a2b524a1526>:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('attendance.csv')

(224057, 10)

In [ ]:
# df['date'].isin(['\\N', '0000-00-00']).sum() # output zero
mask=df['Hourly_Time'].isin(['\\N'])
df.loc[mask, 'Hourly_Time'] = (pd.to_timedelta(df.loc[mask, 'out_time']) - pd.to_timedelta(df.loc[mask, 'in_time'])).dt.total_seconds() / 3600 #mask=(df["date"] != df["out_date"]) # 10111 records out of 224057(4.5% of records)
# df.loc[mask, 'out_date'] = df.loc[mask, 'date']
df[mask]

,id,project_code,date,out_date,Employee_No,in_time,out_time,Hourly_Time,Shift_Start,Shift_End
735,340612,199.0,2/6/2021,2/6/2021,399,7:30:00,24:00:00,16.5,8:00:00,17:00:00
4927,351400,198.0,3/4/2021,3/5/2021,908,7:30:00,24:00:00,16.5,8:00:00,17:00:00
5617,341167,199.0,3/6/2021,3/6/2021,399,7:30:00,24:00:00,16.5,8:00:00,17:00:00
9560,348467,190.0,3/17/2021,3/18/2021,501,7:05:00,24:00:00,16.916667,8:00:00,17:00:00
9561,348481,190.0,3/17/2021,3/18/2021,1218,7:55:00,24:00:00,16.083333,8:00:00,17:00:00
9562,348493,190.0,3/17/2021,3/18/2021,1085,7:55:00,24:00:00,16.083333,8:00:00,17:00:00
9856,341522,199.0,3/18/2021,3/18/2021,813,8:00:00,24:00:00,16.0,8:00:00,17:00:00
15553,400868,196.0,4/2/2021,4/2/2021,1551,7:33:24,24:50:00,17.276667,8:00:00,17:00:00
16814,389076,169.0,4/6/2021,4/6/2021,385,8:00:00,24:00:00,16.0,8:00:00,17:00:00
25682,436125,198.1,5/7/2021,5/7/2021,413,7:40:00,24:00:00,16.333333,8:00:00,17:00:00
29689,516864,198.1,5/19/2021,5/20/2021,584,8:04:47,24:00:00,15.920278,8:00:00,17:00:00
32645,517402,198.1,5/29/2021,5/29/2021,1737,7:55:26,24:00:00,16.076111,8:00:00,17:00:00
42524,535416,198.1,6/22/2021,6/22/2021,1013,7:54:17,24:00:00,16.095278,8:00:00,17:00:00
43554,535419,198.1,6/25/2021,6/25/2021,1013,8:00:27,24:00:00,15.9925,8:00:00,17:00:00
49981,579590,203.0,7/11/2021,7/11/2021,1960,4:00:00,24:00:00,20.0,0:00:00,0:00:00

In [ ]:
df.loc[df['out_time'].str.startswith("24"), "out_time"] = df.loc[df['out_time'].str.startswith("24"), "out_time"].str.replace("^24", "00", regex=True)

In [ ]:
df[mask]

,id,project_code,date,out_date,Employee_No,in_time,out_time,Hourly_Time,Shift_Start,Shift_End
735,340612,199.0,2/6/2021,2/6/2021,399,7:30:00,00:00:00,16.5,8:00:00,17:00:00
4927,351400,198.0,3/4/2021,3/5/2021,908,7:30:00,00:00:00,16.5,8:00:00,17:00:00
5617,341167,199.0,3/6/2021,3/6/2021,399,7:30:00,00:00:00,16.5,8:00:00,17:00:00
9560,348467,190.0,3/17/2021,3/18/2021,501,7:05:00,00:00:00,16.916667,8:00:00,17:00:00
9561,348481,190.0,3/17/2021,3/18/2021,1218,7:55:00,00:00:00,16.083333,8:00:00,17:00:00
9562,348493,190.0,3/17/2021,3/18/2021,1085,7:55:00,00:00:00,16.083333,8:00:00,17:00:00
9856,341522,199.0,3/18/2021,3/18/2021,813,8:00:00,00:00:00,16.0,8:00:00,17:00:00
15553,400868,196.0,4/2/2021,4/2/2021,1551,7:33:24,00:50:00,17.276667,8:00:00,17:00:00
16814,389076,169.0,4/6/2021,4/6/2021,385,8:00:00,00:00:00,16.0,8:00:00,17:00:00
25682,436125,198.1,5/7/2021,5/7/2021,413,7:40:00,00:00:00,16.333333,8:00:00,17:00:00
29689,516864,198.1,5/19/2021,5/20/2021,584,8:04:47,00:00:00,15.920278,8:00:00,17:00:00
32645,517402,198.1,5/29/2021,5/29/2021,1737,7:55:26,00:00:00,16.076111,8:00:00,17:00:00
42524,535416,198.1,6/22/2021,6/22/2021,1013,7:54:17,00:00:00,16.095278,8:00:00,17:00:00
43554,535419,198.1,6/25/2021,6/25/2021,1013,8:00:27,00:00:00,15.9925,8:00:00,17:00:00
49981,579590,203.0,7/11/2021,7/11/2021,1960,4:00:00,00:00:00,20.0,0:00:00,0:00:00

In [ ]:
mask = df['out_date'].isin(['\\N', '0000-00-00'])  # Only one record
df[mask]
# we don't need pre processing on this

,id,project_code,date,out_date,Employee_No,in_time,out_time,Hourly_Time,Shift_Start,Shift_End
142203,1265422,201.0,2/28/2022,0000-00-00,2392,8:00:00,0:45:03,16.75,8:00:00,17:00:00

In [ ]:
df.drop_duplicates(inplace=True)
df.shape

(224057, 10)

In [ ]:
df.nunique()

id              224057
project_code        31
date               725
out_date           726
Employee_No       1883
in_time          16898
out_time         29784
Hourly_Time       3994
Shift_Start          9
Shift_End            9
dtype: int64

In [ ]:
# Convert columns to datetime type
in_time = pd.to_timedelta(df['in_time'])
shift_start = pd.to_timedelta(df['Shift_Start'])
# Calculate late minutes
df['Late_minutes'] = (in_time-shift_start).dt.total_seconds() / 60
df['Late_minutes'] = df['Late_minutes'].clip(lower=0)
df.head(20)

,id,project_code,date,out_date,Employee_No,in_time,out_time,Hourly_Time,Shift_Start,Shift_End,Late_minutes
0,280220,100.0,2/1/2021,2/1/2021,1272,8:30:00,17:00:00,8.5,8:30:00,17:00:00,0.000000
1,280307,1.0,2/1/2021,2/1/2021,1539,8:30:00,17:00:00,8.5,8:30:00,17:00:00,0.000000
2,280312,1.0,2/1/2021,2/1/2021,1540,7:45:00,17:00:00,9.25,8:30:00,17:00:00,0.000000
3,280385,100.0,2/1/2021,2/1/2021,1273,8:00:00,18:00:00,10,8:30:00,17:00:00,0.000000
4,322526,1.0,2/1/2021,2/1/2021,573,23:22:28,23:22:28,0,8:30:00,17:00:00,892.466667
5,322575,1.0,2/1/2021,2/1/2021,572,9:19:36,17:37:52,8.3,8:30:00,17:00:00,49.600000
6,322576,1.0,2/1/2021,2/1/2021,516,8:54:41,17:40:11,8.76,8:30:00,17:00:00,24.683333
7,322577,1.0,2/1/2021,2/1/2021,437,8:51:17,17:13:39,8.37,8:30:00,17:00:00,21.283333
8,322578,1.0,2/1/2021,2/1/2021,349,8:49:10,18:40:28,9.86,8:30:00,17:00:00,19.166667
9,322579,1.0,2/1/2021,2/1/2021,1437,8:40:52,8:40:52,0,8:30:00,17:00:00,10.866667
10,322580,1.0,2/1/2021,2/1/2021,425,8:31:34,18:40:51,10.15,8:30:00,17:00:00,1.566667
11,322581,1.0,2/1/2021,2/1/2021,1305,8:29:23,17:00:16,8.51,8:30:00,17:00:00,0.000000
12,322582,1.0,2/1/2021,2/1/2021,347,8:28:33,18:36:00,10.12,8:30:00,17:00:00,0.000000
13,322584,1.0,2/1/2021,2/1/2021,1308,8:27:46,18:24:56,9.95,8:30:00,17:00:00,0.000000
14,322585,1.0,2/1/2021,2/1/2021,348,8:27:24,19:00:08,10.55,8:30:00,17:00:00,0.000000
15,322586,1.0,2/1/2021,2/1/2021,556,8:27:16,17:47:50,9.34,8:30:00,17:00:00,0.000000
16,322587,1.0,2/1/2021,2/1/2021,1432,8:26:46,17:10:10,8.72,8:30:00,17:00:00,0.000000
17,322588,1.0,2/1/2021,2/1/2021,356,8:26:39,18:33:29,10.11,8:30:00,17:00:00,0.000000
18,322590,1.0,2/1/2021,2/1/2021,1306,8:26:06,18:29:56,10.06,8:30:00,17:00:00,0.000000
19,322591,1.0,2/1/2021,2/1/2021,551,8:26:03,17:55:10,9.49,8:30:00,17:00:00,0.000000

In [ ]:
df.drop(["id",'project_code', 'date',"out_date", "out_time","in_time","Shift_Start","Shift_End"], axis=1, inplace=True)

In [ ]:
df['Hourly_Time'] = df['Hourly_Time'].astype(float)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 224057 entries, 0 to 224056
Data columns (total 3 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Employee_No   224057 non-null  int64
 1   Hourly_Time   224057 non-null  float64
 2   Late_minutes  224057 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 6.8 MB

In [ ]:
# Group by 'Employee_No' and calculate the average
averages = df.groupby('Employee_No').mean()
averages

             Hourly_Time  Late_minutes
Employee_No
347             8.586300     19.107082
348             9.351214     96.275944
349             8.265362     46.942271
351             8.306571     14.105595
352            10.434018     39.973482
...                  ...           ...
3086            9.832500      0.000000
3087            8.599444      0.000000
3088            9.053750      0.000000
3089            6.076667    185.472222
3090            4.835000    140.925000

[1883 rows x 2 columns]

In [ ]:
averages.describe()

       Hourly_Time  Late_minutes
count  1883.000000   1883.000000
mean      9.779852     21.660866
std       2.349589     77.374940
min       0.000000      0.000000
25%       9.110431      0.000000
50%       9.655854      1.126316
75%      10.370000     11.592789
max      73.142857    688.135057

In [ ]:
averages.to_csv('attendance_preprocessed_200635E.csv', index=True)